<div class="fixed-bottom-bar">
  <div class="osahan-home-page">
    <div class="bg-primary pt-1 pb-1 pr-2 pl-2">
      <app-header></app-header>

    </div>


    <div class="bg-light home-list" >

      <div class="px-3 pb-1 title d-flex align-items-center">
        <h5 class="m-0 pt-3">{{'slogan'|translate}} !</h5>
        <img *ngIf="loading" class="pt-3 font-weight-bold ml-auto loader" src="assets/img/spinner.gif" />

      </div>


      <div class="most_popular px-3">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item">
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success">COCAN</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/cocan">
                  <img  src="assets/img/cocan2.gif" alt="COCAN" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item" >
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success">{{'service_restaurant'|translate}}</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/restaurants">
                  <img   src="assets/img/resto.gif" alt="{{'service_restaurant'|translate}}" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item" >
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success">{{'lunch'|translate}}</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/lunches">
                  <img   src="assets/img/lunch22.gif" alt="{{'lunch'|translate}}" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item" >
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success">{{'disco'|translate}}</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/discos">
                  <img  src="assets/img/dance_club.gif" alt="{{'disco'|translate}}" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>
          <div style="" class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item" >
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success">{{'service_hotel'|translate}}</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/hostels">
                  <img  src="assets/img/hotel2.gif" alt="{{'service_hotel'|translate}}" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>
          <div style="" class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item" >
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success">{{'service_pharmacy'|translate}}</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/pharmacies">
                  <img  src="assets/img/pharmacie.gif" alt="{{'service_pharmacy'|translate}}" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>
          <div style="" class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item" >
              <div class="list-card-image" >
                <div class="star position-absolute"><span class="badge badge-success">{{'service_administration'|translate}}</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/office-institution">
                  <img  src="assets/img/admin.gif" alt="{{'service_administration'|translate}}" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>
          <div style="" class="col-lg-4 col-md-4 col-sm-6 mt-4 mb-4">
            <div class="list-card bg-white h-100-h rounded overflow-hidden position-relative shadow-sm card-home-item" >
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success">{{'art and culture'|translate}}</span></div>
                <div style="display: none" class="favourite-heart text-danger position-absolute"><a href="#"></a></div>
                <a routerLink="/art-culture">
                  <img  src="assets/img/art22.gif" alt="{{'art and culture'|translate}}" class="img-fluid item-img w-100-w home-img">
                </a>
              </div>

            </div>
          </div>
        </div>


      </div>

    </div>
    <app-footer></app-footer>

  </div>

</div>

