<div class="cat-slider border-bottom">
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Fries.png" class="img-fluid mb-2">
      <p class="m-0 small">Fries</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Pizza.png" class="img-fluid mb-2">
      <p class="m-0 small">Pizza</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Burger.png" class="img-fluid mb-2">
      <p class="m-0 small">Burger</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Sandwich.png" class="img-fluid mb-2">
      <p class="m-0 small">Sandwich</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Coffee.png" class="img-fluid mb-2">
      <p class="m-0 small">Coffee</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Steak.png" class="img-fluid mb-2">
      <p class="m-0 small">Steak</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/ColaCan.png" class="img-fluid mb-2">
      <p class="m-0 small">ColaCan</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Breakfast.png" class="img-fluid mb-2">
      <p class="m-0 small">Breakfast</p>
    </a>
  </div>
  <div class="cat-item px-1 py-3">
    <a class="bg-white rounded d-block p-2 text-center shadow" href="trending.html">
      <img src="assets/img/icons/Salad.png" class="img-fluid mb-2">
      <p class="m-0 small">Salad</p>
    </a>
  </div>
</div>
